:root {
  --18px-medium-font-family: "Satoshi", Helvetica;
  --18px-medium-font-size: 18px;
  --18px-medium-font-style: normal;
  --18px-medium-font-weight: 500;
  --18px-medium-letter-spacing: 0px;
  --18px-medium-line-height: 160%;
  --accent-orange-13: rgba(255, 82, 0, 1);
  --black: rgba(2, 1, 0, 1);
  --body-bold-16px-font-family: "Satoshi", Helvetica;
  --body-bold-16px-font-size: 16px;
  --body-bold-16px-font-style: normal;
  --body-bold-16px-font-weight: 700;
  --body-bold-16px-letter-spacing: 0px;
  --body-bold-16px-line-height: 150%;
  --body-bold-20px-font-family: "Satoshi", Helvetica;
  --body-bold-20px-font-size: 20px;
  --body-bold-20px-font-style: normal;
  --body-bold-20px-font-weight: 700;
  --body-bold-20px-letter-spacing: 0px;
  --body-bold-20px-line-height: 150%;
  --body-bold-24px-font-family: "Satoshi", Helvetica;
  --body-bold-24px-font-size: 24px;
  --body-bold-24px-font-style: normal;
  --body-bold-24px-font-weight: 700;
  --body-bold-24px-letter-spacing: 0px;
  --body-bold-24px-line-height: 150%;
  --body-medium-12px-font-family: "Satoshi", Helvetica;
  --body-medium-12px-font-size: 12px;
  --body-medium-12px-font-style: normal;
  --body-medium-12px-font-weight: 500;
  --body-medium-12px-letter-spacing: 0px;
  --body-medium-12px-line-height: 150%;
  --body-medium-14px-font-family: "Satoshi", Helvetica;
  --body-medium-14px-font-size: 14px;
  --body-medium-14px-font-style: normal;
  --body-medium-14px-font-weight: 500;
  --body-medium-14px-letter-spacing: 0px;
  --body-medium-14px-line-height: 150%;
  --body-medium-16px-font-family: "Satoshi", Helvetica;
  --body-medium-16px-font-size: 16px;
  --body-medium-16px-font-style: normal;
  --body-medium-16px-font-weight: 500;
  --body-medium-16px-letter-spacing: 0px;
  --body-medium-16px-line-height: 150%;
  --body-medium-18px-font-family: "Satoshi", Helvetica;
  --body-medium-18px-font-size: 18px;
  --body-medium-18px-font-style: normal;
  --body-medium-18px-font-weight: 500;
  --body-medium-18px-letter-spacing: 0px;
  --body-medium-18px-line-height: 150%;
  --body-medium-20px-font-family: "Satoshi", Helvetica;
  --body-medium-20px-font-size: 20px;
  --body-medium-20px-font-style: normal;
  --body-medium-20px-font-weight: 500;
  --body-medium-20px-letter-spacing: 0px;
  --body-medium-20px-line-height: 150%;
  --body-medium-24px-font-family: "Clash Display Variable", Helvetica;
  --body-medium-24px-font-size: 24px;
  --body-medium-24px-font-style: normal;
  --body-medium-24px-font-weight: 500;
  --body-medium-24px-letter-spacing: 0px;
  --body-medium-24px-line-height: 120.00000762939453%;
  --body-regular-12px-font-family: "Satoshi", Helvetica;
  --body-regular-12px-font-size: 12px;
  --body-regular-12px-font-style: normal;
  --body-regular-12px-font-weight: 400;
  --body-regular-12px-letter-spacing: 0px;
  --body-regular-12px-line-height: 150%;
  --body-regular-14px-font-family: "Satoshi", Helvetica;
  --body-regular-14px-font-size: 14px;
  --body-regular-14px-font-style: normal;
  --body-regular-14px-font-weight: 400;
  --body-regular-14px-letter-spacing: 0px;
  --body-regular-14px-line-height: 150%;
  --body-regular-16px-font-family: "Satoshi", Helvetica;
  --body-regular-16px-font-size: 16px;
  --body-regular-16px-font-style: normal;
  --body-regular-16px-font-weight: 400;
  --body-regular-16px-letter-spacing: 0px;
  --body-regular-16px-line-height: 150%;
  --body-regular-18px-font-family: "Satoshi", Helvetica;
  --body-regular-18px-font-size: 18px;
  --body-regular-18px-font-style: normal;
  --body-regular-18px-font-weight: 400;
  --body-regular-18px-letter-spacing: 0px;
  --body-regular-18px-line-height: 160%;
  --body-regular-20px-font-family: "Satoshi", Helvetica;
  --body-regular-20px-font-size: 20px;
  --body-regular-20px-font-style: normal;
  --body-regular-20px-font-weight: 400;
  --body-regular-20px-letter-spacing: 0px;
  --body-regular-20px-line-height: 160%;
  --extra-25px-bold-font-family: "Clash Display Variable", Helvetica;
  --extra-25px-bold-font-size: 25px;
  --extra-25px-bold-font-style: normal;
  --extra-25px-bold-font-weight: 400;
  --extra-25px-bold-letter-spacing: 0px;
  --extra-25px-bold-line-height: 100%;
  --extra-30px-bold-font-family: "Clash Display Variable", Helvetica;
  --extra-30px-bold-font-size: 30px;
  --extra-30px-bold-font-style: normal;
  --extra-30px-bold-font-weight: 400;
  --extra-30px-bold-letter-spacing: 0px;
  --extra-30px-bold-line-height: 100%;
  --graygray-1: rgba(255, 255, 255, 1);
  --graygray-10: rgba(40, 39, 38, 1);
  --graygray-11: rgba(32, 31, 31, 1);
  --graygray-12: rgba(22, 21, 20, 1);
  --graygray-13: rgba(2, 1, 0, 1);
  --graygray-2: rgba(252, 252, 252, 1);
  --graygray-4: rgba(240, 240, 240, 1);
  --graygray-6: rgba(192, 192, 191, 1);
  --graygray-7: rgba(141, 141, 140, 1);
  --grey-03: rgba(38, 38, 38, 1);
  --heading-h2-semibold-font-family: "Clash Display Variable", Helvetica;
  --heading-h2-semibold-font-size: 92px;
  --heading-h2-semibold-font-style: normal;
  --heading-h2-semibold-font-weight: 400;
  --heading-h2-semibold-letter-spacing: 0px;
  --heading-h2-semibold-line-height: 100%;
  --heading-h3-font-family: "Clash Display Variable", Helvetica;
  --heading-h3-font-size: 25px;
  --heading-h3-font-style: normal;
  --heading-h3-font-weight: 400;
  --heading-h3-letter-spacing: 0px;
  --heading-h3-line-height: 36px;
  --heading-h3-semibold-font-family: "Clash Display Variable", Helvetica;
  --heading-h3-semibold-font-size: 73px;
  --heading-h3-semibold-font-style: normal;
  --heading-h3-semibold-font-weight: 400;
  --heading-h3-semibold-letter-spacing: 0px;
  --heading-h3-semibold-line-height: 100%;
  --heading-h4-semibold-font-family: "Clash Display Variable", Helvetica;
  --heading-h4-semibold-font-size: 59px;
  --heading-h4-semibold-font-style: normal;
  --heading-h4-semibold-font-weight: 400;
  --heading-h4-semibold-letter-spacing: 0px;
  --heading-h4-semibold-line-height: 100%;
  --heading-h5-semibold-font-family: "Clash Display Variable", Helvetica;
  --heading-h5-semibold-font-size: 47px;
  --heading-h5-semibold-font-style: normal;
  --heading-h5-semibold-font-weight: 400;
  --heading-h5-semibold-letter-spacing: 0px;
  --heading-h5-semibold-line-height: 100%;
  --heading-h6-semibold-font-family: "Clash Display Variable", Helvetica;
  --heading-h6-semibold-font-size: 38px;
  --heading-h6-semibold-font-style: normal;
  --heading-h6-semibold-font-weight: 400;
  --heading-h6-semibold-letter-spacing: 0px;
  --heading-h6-semibold-line-height: 100%;
  --icon-effet: ;
  --neutralpirmary-400: rgba(7, 8, 8, 1);
  --primary-300: rgba(51, 51, 51, 1);
  --primary-400: rgba(8, 8, 8, 1);
  --text-color: rgba(191, 191, 191, 1);
  --white: rgba(245, 245, 245, 1);
}
